@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Aref+Ruqaa:wght@400;700&family=Cairo:wght@400;600;700;800&display=swap');
@import "tailwindcss";

@config "../tailwind.config.js";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Amiri", ui-serif, Georgia, serif;
  --font-ruqaa: "Aref Ruqaa", serif;
  --color-brand: #10b981;
  --color-brand-light: #34d399;
  --color-brand-dark: #059669;
}
